server {
    listen 80;
    listen [::]:80;
    server_name 172.31.27.84;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection upgrade;
    proxy_set_header Accept-Encoding gzip;
    proxy_set_header Host $host;
{% for user in user_coder_details %}
    location /{{user}} {
        rewrite ^/{{user}}/(.*)$ /$1 break;
        proxy_pass http://127.0.0.1:{{user_coder_details[user]}}/;
    }

{% endfor %}
}
